---
import { Image } from 'astro:assets';
import logo from '../assets/logo_with_name.svg';
---

<div class="h-full w-full grid place-items-center">
	<main>
		<section class="grid place-items-center">
      <Image src={logo} alt="Konsu Logo depicting a side view of an Egyptian God looking at a star on the right. The words Konsu is below in a styalised font" />
			<p class="pt-10">
        The future of travel is nearly here, stay tuned...
			</p>
			<section id="links">
			</section>
		</section>
	</main>

	<a href="mailto:hello@konsu.ai" class="absolute right-0 bottom-0 font-bold mb-2 mr-5 text-brand-50">
    hello@konsu.ai
	</a>
</div>
