@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --color-konsu-text-dark: #1D1B20;
    --color-konsu-dark-00: #27303D;
    --color-konsu-dark-01: #344359;
    --color-konsu-light-00: #E3FDFF;
    --color-konsu-light-01: #4C5B71;
    --color-konsu-light-02: #77869B;
    
    --color-konsu-ui-primary: #CADCF6;
    --font-title: "Major Mono Display", sans-serif;
    --font-sans: "Atkinson Hyperlegible", sans-serif;

    --drop-shadow-box: 2px 4px 0 #1D1B20; 
    --drop-shadow-box-md-3:  0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);


    --color--konsu-cyan: #72D4E8;
    --color--konsu-cyan-n01: #66B6C6FF;
}

@layer base {
    body {
        color: white;
        background-color: var(--color-konsu-dark-00);

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

@layer utilities {
    .clip-dot-up {
        clip-path: content-box path("M16.6667 36.3846L19.7067 12.2914C19.9067 11.5372 20 10.7434 20 9.92308C20 4.44554 15.52 0 10 0C4.48 0 0 4.44554 0 9.92308C0 10.7434 0.093335 11.5372 0.293335 12.2914L3.33333 36.3846C3.33333 40.0363 6.32 43 10 43C13.68 43 16.6667 40.0363 16.6667 36.3846Z");
    }

    .no-select {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .select {
        -webkit-user-select: all;
        -moz-user-select: all;
        -ms-user-select: all;
        user-select: all;
    }

    .ui-glow-reset {
        box-shadow: none;
        transition: none;
    }
    .ui-glow {
        box-shadow: 0px 2px 3.6px 2px rgba(71, 96, 132, 0.39);
        transition: all linear 0.3s;
    }
    .ui-glow:focus-within {
        box-shadow: 0px 2px 3.6px 2px rgba(71, 96, 132, 0.8);
    }

    .word-break-break-word {
        word-break: break-word;
    }
}