---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Konsu AI</title>
	</head>
	<body class="bg-brand-800 text-brand-50 w-screen h-screen m-0">
		<slot />
	</body>
</html>
